@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=League+Spartan:wght@300&family=Poppins:ital,wght@1,300&display=swap');
html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    text-decoration: none;
}

/* Header */

.header{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    background-color: #E3E6F3;
    font-size: 1rem;
    box-shadow: 0px 5px 15px rgb(0, 0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.click{
    border: none;
    outline: none;
}
.logo{
    height: 5vh;
    width: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: baseline;
    padding-right: 45vw;
}
nav{
    display: flex;
    align-items: center;
    gap: 3vw;
    font-weight: 600;
    border-bottom: 5vh;
}
nav a{
    position: relative;
    color: black;
}
nav a:hover{
    color: #088178;
    text-decoration: underline;
}