@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=League+Spartan:wght@300&family=Poppins:ital,wght@1,300&display=swap');
html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    text-decoration: none;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h3{
    font-size: 28px;
    line-height: 38px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-size: 12px;
    font-weight: 700;
    color: black;
}
p{
    font-size: 16px;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    background-color: #E3E6F3;
    font-size: 1rem;
    box-shadow: 0px 5px 15px rgb(0, 0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
.logo{
    height: 5vh;
    width: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: baseline;
    padding-right: 45vw;
}
nav{
    display: flex;
    align-items: center;
    gap: 3vw;
    font-weight: 600;
    border-bottom: 5vh;
}
nav a{
    position: relative;
    color: black;
}
nav a:hover{
    color: #088178;
    text-decoration: underline;
}

/* Home */
.home{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #E3E6F3;
}
.left-home{
    height: 100%;
    width: 45%;
    padding: 25vh 5vw ;
}
.right-home{
    background-image: url("img/banner.png");
    height: 100%;
    width: 70%;
    margin-top: 15vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.msg{
    color: #088178;
}
.save{
    padding-top: 2vh;
    color: rgb(66, 64, 64);
}
.shop{
    background-image: url("img/button.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2vh 5vw;
    margin-top: 3vh;
    font-size: 1rem;
    color: #088178;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.shop a{
    color: black;
}


/* Features */
.features{
    margin: 10vh 5vw;
    height: 25vh;
    width: 60vw;
    display: flex;
}
.feature-img{
    border: 1px solid black;
    padding: 1vh 1vw;
    object-fit: cover;
    display:flex;
    flex-direction: column;
    padding: 1vh 1vw;
    box-shadow: 0px 5px 15px rgb(84, 84, 84);
    border: none;
    outline: none;
    margin: 0 5vw;
    border-radius: 20px;
}
.feature-img button{
    border: none;
    outline: none;
    margin-top: 3vh;
}
.fetaures-head{
    margin: 5vh 0vw;
    text-align: center;
}

/* Cars */
button{
    border: none;
    outline: none;
}
.cars-head{
    text-align: center;
    margin-top: 5vh;
}
.cars{
    height: 80vh;
    width: 100%;
}
.car1{
    display: flex;
    margin: 10vh 9vw;
    gap: 10vw;
}
.car2{
    display: flex;
    margin: 10vh 9vw;
    gap: 10vw;
}
.car3{
    display: flex;
    margin: 10vh 9vw;
    gap: 10vw;
}
.car{
    border: 1px solid black;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 15px rgb(95, 95, 95);
}
.car-img{
    padding: 1vh 1vw;
    height: 35vh;
    width: 18vw;
    object-fit: contain;
    border-radius: 10cqi;
}
.car-name{
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 1.4rem;
    padding-left: 1vw;
}
.stars{
    margin-left: .8vw;
    margin-bottom: 1vh;
    font-size: 1.3rem;
    padding-left: 1vw;
}
.stars i{
    padding-left: 5vw;
    font-size: 1rem;
}
.prize{
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 2rem;
    padding-left: 1vw;
    padding-top: .4vh;
    display: flex;
}
.btn{
    margin-left: 4vw;
    padding: 0vh 1vw;
    font-size: 1.2rem;
    background-color: white;
}
.btn:hover{
    text-decoration: underline;
    color: rgb(215, 215, 4);
    cursor: pointer;
}
/* Offers */
.offers{
    margin-top: 110vh;
    height: 36.5vh;
    width: 89vw;
    margin-left: 5vw;
    background-image: url("img/offer.png");
    margin-bottom: 5vh;
}

/* Footer */
.footer{
    height: 50vh;
    width: 100%;
    padding: 6vh 6vw;
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    background-color: #E3E6F3;
    box-shadow: 10px 20px 5px 15px rgb(0, 0,0, 0.06);
}
.contact-info{
    display: flex;
    padding: .4vh 0;
    text-decoration: none;
    color: rgb(120, 119, 119);
}
.contact-info p{
    padding-top: .5vh;
}
.contact-head{
    padding: 2vh 0;
}
.follow{
    padding: 3vh 0;
}
.social i{
    padding: 0vh .4vw;
    color: black;
    border-radius: 30px;
    padding: 5px 15px;
    margin-bottom: 5vh;
}
.social i:hover{
    background-color: #088178;
}
.copy-right{
    height: 4vh;
    width: 100%;
    text-align: center;
    background-color: #E3E6F3;
}